@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;400&display=swap');

@font-face {
  font-family: pageHeader;
  src:url(assets/PrintClearly_TT.ttf);
}

:root {
  --clr-primary-a: #ffcc66;
  --clr-primary-b: #6699FF;
  --clr-neutral-a: #E5FF66;
  --clr-neutral-b: #66E5FF;
  --clr-footer-font: #12a063;
  --clr-footer-a: #362412; /* or use #40331A */
  --clr-footer-b: #23170c;
  --clr-footer-c: #170f07;
  --clr-nav-gradiant: linear-gradient(to left bottom, #e5ff66, #edf562, #f4eb61, #f9e161, #fdd862, #fdd862, #fdd862, #fdd862, #f9e161, #f4eb61, #edf562, #e5ff66);
  --clr-primary-gradiant: linear-gradient(to right top, #b7b7b7, #c3c3c6, #ccd0d5, #d5dee3, #ddecf0, #d3e9ee, #c9e5ec, #bee2ea, #a1cbdf, #8bb4d4, #7d9bc6, #7981b5);
  --clr-enroll-gradiant: linear-gradient(to top, #a9d16b, #6bd390, #0ad0b9, #00c8da, #26bcec, #1ebff2, #13c2f9, #00c5ff, #00dafa, #00eada, #00f6a3, #8efb5f);
  --clr-accept: #4CAF50;
  --clr-decline: rgb(219, 1, 1);

  --font-primary: 'Glory', sans-serif;
  --font-accent: "Raleway", Arial;
  --font-forms: 'Oswald', sans-serif;
  --font-links: "pageHeader", Arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: 1.4525rem;
  line-height: 1.6;
}

body,
h1,
h2,
p {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-accent);
  font-weight:800;
  line-height: 1;
  padding-bottom: 35px;
}

h1:first-of-type {
  text-align: center;
  font-size: 2.6rem;
}

img {
  width: 100%;
  max-width: 1080px;
  height: auto;
}

a > img {
  width: 25px;
  margin: 0;
  vertical-align:text-bottom;
}

header {
  background-image: url(assets/bg.png);
  background-repeat: repeat-x;
  background-position: top;
}

section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.text_align_center {
  text-align: center;
}

.border_primary {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

a {
  text-decoration: none;
  text-decoration-style: none;
  color:black;
}
a:hover{
  color: var(--clr-primary-b);
  text-decoration: underline;
  text-decoration-style: solid;
}

a:active {
  color:var(--clr-primary-a);
}

p > a {
  text-decoration: underline;
}

#link_menu {
  background-image: var(--clr-nav-gradiant);
  border-radius: 0 0 40px 40px;
  z-index: 2;
}
#link_menu a:hover, #link_menu button:hover  {
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
}
#link_menu a:active, #link_menu button:active  {
  color: var(--clr-primary-b);
}

.link, #nav_drop_button {
  font-family: var(--font-links);
  font-weight: 600;
}

#nav_drop_button {
  z-index: 3;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: 1.45rem;
  cursor: pointer;
}

@media screen and (min-width:1100px) { 

  #link_menu  {
    padding:15px;
  }

  #nav_drop_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translate(-12%, 15px);
    background-image: var(--clr-nav-gradiant);
    border-radius: 0 0 50px 0 ;
  }

  #nav_drop_menu > a {
    padding: 10px;
    margin-inline:10px;
  }
  
}

@media screen and (max-width:1099px) {

  #link_menu {
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100vw;
    padding: 20px 40px 40px;
    transform: translate(-50%, 0);
    flex-direction: column;
    text-align: center;
  }

  #link_menu > a {
    padding: 15px 0;
  }

  #nav_drop_menu {
    display: none;
    width: 100vw;
    padding:10px 0;
    transform: translate(-40px, 10px);
    flex-direction: column;
    position: fixed;
    background-image: var(--clr-nav-gradiant);
    border-radius: 50px;
  }

  #nav_drop_menu > a {
    padding: 5px;
    margin-inline:10px;
  }

}

.banner_l > a, 
.banner_r > a {
  padding:5px;
}

.banner_l,
.banner_r {
  width:50%;
  float:left;
}

a > img:hover {
  opacity: 70%;
}

a > img:active {
  opacity: 95%;
}

.open_cursor,
.mobile_nav_button {
  cursor:pointer;
}  

@media screen and (min-width:1100px) { 

  .banner_l,
  .banner_r {
    font-size: 1.19rem;
    font-weight: 400;
    height:110px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
    
  .mobile_nav_button {
    display:none;
  }  

  #link_menu {
    width:100%;
    margin: 0 auto;
    max-width:1600px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
  }

  .banner_l {
    background-image: url(assets/l_cloud.png);
  }
    
  .banner_r {
    background-image: url(assets/r_cloud.png);
  }

}

@media screen and (max-width:1099px) and (min-width:420px) { 

  .banner_l > a,
  .banner_r > a,
  .banner_r > button {
    margin-inline: 5%;
  }

  a > img {
    width:34px;
  }

  .mobile_nav_button {
    z-index: 4;
    width:34px;
    height:34px;
    position: fixed;
    background-image:var(--clr-nav-gradiant);
    border-radius: .6rem;
    box-shadow: 2px 2px 4px #000;
  }  

  #link_menu {
    display:none;
  }

  .banner_l,
  .banner_r {
    font-size:0;
    padding:20px;
    background-color: var(--clr-primary-a);
  
  }
}

@media screen and (max-width:419px) {
  
  .banner_l > a,
  .banner_r > a,
  .banner_r > button {
    margin-inline: 3%;
  }

  a > img {
    width:25px;
  }

  .mobile_nav_button {
    z-index: 4;
    width:34px;
    height:34px;
    position: fixed;
    background-color:var(--clr-primary-a);
    border-radius: .6rem;
    box-shadow: 2px 2px 4px #000;
    right:20px;
  }  

  #link_menu {
    display:none;
  }

  .banner_l,
  .banner_r {
    font-size:0;
    padding:20px;
    background-color: var(--clr-primary-a);
  
  }

  .banner_r{
    text-align: left;
  }
}

#header_slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#header_slideshow_pics {
  background-repeat: no-repeat;
  background-image: url(assets/banner_title.png);
}

#header_slideshow_left, #header_slideshow_right {
  cursor: w-resize;
  background-repeat: no-repeat;
}

@media screen and (min-width:1100px) { 

  #header_slideshow_pics {
    width: 880px;
    height: 380px;
    background-position-y: -50px;
  }
    
  #header_slideshow_left, #header_slideshow_right  {
    width: 100px;
    background-size: 58px;
    background-position: center;
  }
  
}

@media screen and (max-width:1099px) { 

  #header_slideshow_pics {
    background-size: contain;
    background-position: center;
    width: 95vw;
    height: 45vh;
  }
    
  #header_slideshow_left, #header_slideshow_right  {
    width: 75px;
    height: 100%;
    background-size: 50px;
    position: absolute;
    vertical-align: center;
    top: 15px;
  }

  #header_slideshow_left {
    left: 0px;
  }

  #header_slideshow_right{
    right: -24px;
  }

}

#header_slideshow_left {
  background-image: url(assets/l_arrow.png);
}
#header_slideshow_left:hover {
  background-image: url(assets/l_arrow_hover.png);
}

#header_slideshow_right 
{
  background-image: url(assets/r_arrow.png);
}
#header_slideshow_right:hover {
  background-image: url(assets/r_arrow_hover.png);
}

#header_slideshow_left:active,
#header_slideshow_right:active {
  opacity: 75%;
  filter: drop-shadow(8px 8px 10px gray);
}

/* */
/* */

.pdf {
  width: 85vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 1;
}

.width_pdf {
  max-width: 900px;
  height: 60vh;
  max-height: 700px;
}

.height_pdf {
  max-width: 800px;
  height: 85vh;
  max-height: 1000px;
}

/* */
/* */

footer {
  background-image: url(assets/footer.png);
  background-repeat: repeat-x;
  color: white;
  font-weight: 200;
  font-size: 1.2225rem;
  line-height: 1.1;
  margin: 0;
}

#footer_cards_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  background-color: var(--clr-footer-a);
}

@media screen and (min-width:1300px) {

  .footer_card_large {
    width: 500px;
  }

}

@media screen and (max-width:1299px) and (min-width:420px) { 

  .footer_card_large {
    width: 500px;
    order: 1;
  }

}

@media screen and (max-width:419px) {   
  
  footer {
    font-size: 1.15rem;
  }

  .footer_card_large {
    order: 1;
  }

}

.footer_card_standard {
  width: 300px;
  padding: 15px 25px;
}

.footer_card_standard,
.footer_card_large {
  height: 350px;
  margin: 30px;
  border: solid;
  border-color: var(--clr-footer-font);
}

.footer_car_large > h4,
.footer_card_standard > h4 {
  color: var(--clr-footer-font);
  text-decoration: underline;
}

#footer_sitemap {
}

#footer_sitemap > div > h4 {
  margin: 0;
  padding: 10px;
  text-decoration: underline;
}

#footer_sitemap > div > a,
#footer_sitemap > div > p > a {
  color: #fff;
  text-decoration: none;
}

#footer_sitemap > div > a:hover,
#footer_sitemap > div > p > a:hover {
  color: var(--clr-footer-font);
}

#footer_sitemap > div > a:active,
#footer_sitemap > div > p > a:active {
  color: var(--clr-primary-a);
}

#footer_sitemap > div {
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
  color: var(--clr-footer-font);
  background-color: var(--clr-footer-b);
}

.form-background,
.form-popup
 {
  display: none;
  position: fixed;
  width: 120vw;
  height: 120vh;
  top: 0;
  left: 0;
}

.form-background {
  background-color: black;
  z-index: 5;
  opacity: 78%;
}

.form-popup {
  left:50%;
  font-size: 1.25rem;
  padding: 35px 50px;
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
  min-height: fit-content;
  height: fit-content;
  max-height: 84vh;
  transform: translate(-50%, 8%);
  border-style: groove;
  border-bottom: double;
  background-color: var(--clr-primary-b);
  z-index: 6;
  overflow-y: scroll;
}

.form-popup > form {
  display: flex;
  flex-direction: column;
  color: #000;
}

.form-popup > form > span:first-child {
  font-size: 1.43rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: underline;
  padding:5px;
}

.form-popup > form > input,
.form-popup > form > textarea,
.form-popup > form > button,
.form-popup > form > span,
.form-popup > form > a {
  margin: 2px auto;
  padding: 2px;
  max-width:350px;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

.form-popup > form > input {
  padding: 8px;
}

.form-popup > form > button,
.form-popup > form > #fake_button { /* YOU MAKE THESE FORM WORKS WITH TWO REAL BUTTONS THEN COMPLAIN TO ME */
  color: white;
  letter-spacing: 1px;
  margin-top: 10%;
  max-width: 200px;
  text-align: center;
  align-items: center;
	border: none;
	padding: 2px;
	font: inherit;
	outline: black;
}

.form-popup > form > a > span {
  color: white;
}

.form-popup > form > button:hover,
.form-popup > form > a:hover {
  color: var(--clr-neutral-a) !important;
  text-decoration: underline;
}

.form-popup > form > button:active,
.form-popup > form > a:active {
  color: #000 !important; 
}

.form-popup > form > button {
  background-color: var(--clr-accept);
}

.form-popup > form > #fake_button {
  background-color: var(--clr-decline);
}

