@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;400&display=swap');

@font-face {
  font-family: pageHeader;
  src:url(assets/common/PrintClearly_TT.ttf);
}

:root {
  --clr-primary-a: #ffcc66;
  --clr-primary-b: #6699FF;
  --clr-neutral-a: #E5FF66;
  --clr-neutral-b: rgba(102, 153, 255, 0.15);
  --clr-neutral-c: rgba(215, 255, 15, 0.15);
  --clr-footer-font: #12a063;
  --clr-footer-a: #362412; /* or use #40331A */
  --clr-footer-b: #23170c;
  --clr-footer-c: #170f07;
  --clr-nav-gradiant: linear-gradient(to left bottom, #e5ff66, #edf562, #f4eb61, #f9e161, #fdd862, #fdd862, #fdd862, #fdd862, #f9e161, #f4eb61, #edf562, #e5ff66);
  --clr-primary-gradiant: linear-gradient(to right top, #b7b7b7, #c3c3c6, #ccd0d5, #d5dee3, #ddecf0, #d3e9ee, #c9e5ec, #bee2ea, #a1cbdf, #8bb4d4, #7d9bc6, #7981b5);
  --clr-enroll-gradiant: linear-gradient(to top, #a9d16b, #6bd390, #0ad0b9, #00c8da, #26bcec, #1ebff2, #13c2f9, #00c5ff, #00dafa, #00eada, #00f6a3, #8efb5f);
  --clr-accept: #4CAF50;
  --clr-decline: #f33;

  --font-primary: 'Glory', sans-serif;
  --font-accent: "Raleway", Arial;
  --font-forms: 'Oswald', sans-serif;
  --font-links: "pageHeader", Garamond;
  --font-size-large: 2.6rem;
  --font-size-standard: 1.4525rem;
  --font-size-small: 1.19rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 200;
  font-size: var(--font-size-standard);
  line-height: 1.6;
}

body,
h1,
h2,
p {
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-accent);
  font-weight:800;
  line-height: 1;
  padding: 15px 0 35px 0;
}

h1:first-of-type {
  padding-top: 5%;
  text-align: center;
  font-size:var(--font-size-large);
}

@media screen and (min-width:1100px) {
  h1:first-of-type {
    padding-top: 3%;
  }
}
@media screen and (max-width:1099px) {
  h1:first-of-type {
    padding-top: 0;
  }
}

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

a > img {
  width: 25px;
  margin: 0;
  vertical-align:text-bottom;
}

header {
  background-image: url(assets/common/bg.png);
  background-repeat: repeat-x;
  background-position: top;
}

@media screen and (max-width:1099px) {
  header {
    background-position-y: -100px;
  }
}

section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container > p {
  padding-bottom: 50px;
}

.container > p:last-of-type {
  padding-bottom: unset;
}

@media screen and (min-width:1100px) {
  .container > img {
    width: 70vw;
    max-width: 600px;
    align-self: center;
    margin: 20px;
    margin-inline: 15%;
  }
}
@media screen and (max-width:1099px) {
  .container > img {
    width: 100%;
    max-width: 600px;
    align-self: center;
    margin: 20px;
    margin-inline: 15%;
  }
}

.page_title > div > img {
  cursor: pointer;
  size: cover;
}

.text_align_center {
  text-align: center;
}

.left_aligned_list {
  padding-bottom: 20px;
}

.left_aligned_list > li{
  text-align: left;
  margin: 5px;
  padding-left: 10%;
}

.remove_padding_bottom {
  padding-bottom: unset;
}

.border_primary {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.blue_background {
  background-color: var(--clr-neutral-b);
}

.yellow_background {
  background-color: var(--clr-neutral-c);
}

a {
  text-decoration: none;
  text-decoration-style: none;
  color:black;
}
a:hover{
  color: var(--clr-primary-b);
  text-decoration: underline;
  text-decoration-style: solid;
}

a:active {
  color:var(--clr-primary-a);
}

p > a {
  text-decoration: underline;
}

#link_menu {
  background-image: var(--clr-nav-gradiant);
  border-radius: 0 0 40px 40px;
  z-index: 2;
}
#link_menu a:hover, #link_menu button:hover  {
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
}
#link_menu a:active, #link_menu button:active  {
  color: var(--clr-primary-b);
}

.link, #nav_drop_button {
  font-family: var(--font-links);
  font-weight: 600;
}

#nav_drop_button {
  z-index: 3;
  border: 0;
  margin:10px auto;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: var(--font-size-standard);
  cursor: pointer;
}

@media screen and (min-width:1100px) { 

  #link_menu  {
    width:100%;
    padding:15px;
    margin: 0 auto;
    max-width:1600px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
  }

  #nav_drop_menu {
    width: 250px;
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: right;
    transform: translate(-30%, 15px);
    background-image: var(--clr-nav-gradiant);
    border-radius: 0 0 0 50px;
    animation: nav_dropDown ease-in-out 1.5s forwards;
    animation-iteration-count: 1;
  }

  @keyframes nav_dropDown {
    from { height: 0; opacity: 0;}
    to { height: 620px; opacity: 1;}
  }

  #nav_drop_menu > a {
    padding: 10px;
    margin-inline:10px;
  }
  
}

@media screen and (max-width:1099px) {

  #link_menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 80vw;
    padding: 20px 40px 20px;
    transform: translate(-50%, 0);
    flex-direction: column;
    text-align: center;
    animation: nav_dropDown ease 2s forwards;
    animation-iteration-count: 1;
  }

  @keyframes nav_dropDown {
    from { top: -240px }
    to { top: 0 }
  }

  #link_menu > a {
    padding: 15px 0;
  }

  #nav_drop_menu {
    display: none;
    width: 80vw;
    padding:10px 0;
    transform: translate(-40px, 10px);
    flex-direction: column;
    position: fixed;
    background-image: var(--clr-nav-gradiant);
    border-radius: 50px;
    animation: nav_drop_dropDown ease 2s both;
    animation-iteration-count: 1;
  }

  @keyframes nav_drop_dropDown {
    from { top: -540px }
    to { top: 0 }
  }

  #nav_drop_menu > a {
    padding: 5px;
    margin-inline:10px;
  }

}

.banner_l > a, 
.banner_r > a {
  padding:5px;
}

.banner_l,
.banner_r {
  width:50%;
  float:left;
}

a > img:hover {
  opacity: 70%;
}

a > img:active {
  opacity: 95%;
}

.open_cursor,
.mobile_nav_button {
  cursor:pointer;
}  

@media screen and (min-width:1100px) { 

  .banner_l,
  .banner_r {
    font-size: var(--font-size-small);
    font-weight: 400;
    height:110px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
  }
    
  .mobile_nav_button {
    display:none;
  }  

  #link_menu {
    display:flex;
  }

  .banner_l {
    background-image: url(assets/common/l_cloud.png);
  }
    
  .banner_r {
    background-image: url(assets/common/r_cloud.png);
  }

}

@media screen and (max-width:1099px) and (min-width:435px) { 

  .banner_l > a,
  .banner_r > a,
  .banner_r > button {
    margin-inline: 5%;
  }

  a > img {
    width:34px;
  }

  .mobile_nav_button {
    z-index: 4;
    width:34px;
    height:34px;
    position: fixed;
    background-image:var(--clr-nav-gradiant);
    border-radius: .6rem;
    box-shadow: 2px 2px 4px #000;
  }  

  #link_menu {
    display:none;
  }

  .banner_l,
  .banner_r {
    font-size:0;
    padding:20px;
    background-color: var(--clr-primary-a);
  
  }
}

@media screen and (max-width:434px) {
  
  .banner_l > a,
  .banner_r > a,
  .banner_r > button {
    margin-inline: 3%;
  }

  a > img {
    width:25px;
  }

  @-moz-document url-prefix() {
    .banner_l > a,
    .banner_r > a,
    .banner_r > button {
      margin-inline: 3%;
    }
  
    a > img {
      width:24px;
    }
}

  .mobile_nav_button {
    z-index: 4;
    width:34px;
    height:34px;
    position: fixed;
    background-color:var(--clr-primary-a);
    border-radius: .6rem;
    box-shadow: 2px 2px 4px #000;
    
  }  

  #link_menu {
    display:none;
  }

  .banner_l,
  .banner_r {
    font-size:0;
    padding:20px;
    background-color: var(--clr-primary-a);
  
  }

  .banner_r{
    text-align: left;
  }
}

#header_slideshow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#header_slideshow_pics {
  background-repeat: no-repeat;
  background-image: url(assets/banner_title.png);
  animation: header_auto_fadeOutthenIn 8s linear forwards infinite;
  animation-delay: 4s;
}

@keyframes header_auto_fadeOutthenIn {
  from { opacity: 100%; }
  45% { opacity: 90%;}
  50% { opacity: 0%; }
  55% { opacity: 90%;}
  to { opacity: 100%; }
}

#header_slideshow_left, #header_slideshow_right {
  cursor: w-resize;
  background-repeat: no-repeat;
}

#header_slideshow_left {
  background-image: url(assets/common/l_arrow.png);
}
#header_slideshow_left:hover {
  background-image: url(assets/common/l_arrow_hover.png);
}

#header_slideshow_right {
  background-image: url(assets/common/r_arrow.png);
}
#header_slideshow_right:hover {
  background-image: url(assets/common/r_arrow_hover.png);
}

@media screen and (min-width:1100px) { 

  #header_slideshow_pics {
    width: 880px;
    height: 380px;
    background-position-y: -50px;
  }
    
  #header_slideshow_left, #header_slideshow_right  {
    width: 100px;
    background-size: 58px;
    background-position: center;
  }

}

@media screen and (max-width:1099px) { 

  #header_slideshow_pics {
    background-size: contain;
    background-position: center;
    margin-top:-20px;
    width: 95vw;
    height: 40vh;
    min-height: 140px;
    max-height: 350px;
  }
    
  #header_slideshow_left, #header_slideshow_right  {
    width: 75px;
    height: 125px;
    background-size: 50px;
    position: absolute;
    vertical-align: center;
    top: 225px;
    filter: drop-shadow(8px 8px 10px rgb(29, 1, 1));
    opacity: 85%;
    z-index: 2;
  }

  @media screen and (max-height:775px) {

    #header_slideshow_left, #header_slideshow_right  {
      top: 60%;
   }

  }

  #header_slideshow_left {
    background-image: url(assets/common/l_arrow_hover.png);
    left: 0px;
  }

  #header_slideshow_right{
    background-image: url(assets/common/r_arrow_hover.png);
    right: -24px;
  }

}

#header_slideshow_left:active,
#header_slideshow_right:active {
  opacity: 75%;
  filter: drop-shadow(8px 8px 10px rgb(129, 127, 127));
}

.caption {
  text-align: center;
  font-size: var(--font-size-small);
}

#iframe_map {
  width: 100%;
  height: 60vh;
  max-height: 350px;
  align-self: center;
  margin-bottom: 20px;
}

@media screen and (min-width:1100px) { 
    
  .split {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 20px;
  }

  .split > p {
    padding: 30px;
  }

  .split > img {
    width: 55%;
    max-width: 500px;
    height: auto;
    margin: 20px;
  }

}

@media screen and (max-width:1099px) { 
    
  .split {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px;
  }

  .split > img {
    width: 100%;
    max-width: 600px;
    align-self: center;
    margin: 20px;
    margin-inline: 15%;
  }
  
}

.enrollment_cards {
  max-width: 600px;
  border-radius: 28px;
  background-image: var(--clr-enroll-gradiant);
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
}

.enrollment_cards > h1,
.enrollment_cards > h2,
.enrollment_cards > h3,
.enrollment_cards > h4 {
  text-align: center;
}

.enrollment_cards > li {
  border: 1px solid #000000;
  padding: 4px;
}

.enrollment_cards > li > span,
.enrollment_cards > li > div {
  font-size: var(--font-size-small);
}

#pricing_menu {
  border-radius: 28px;
  width: 80%;
  max-width: 500px;
}

#donation {
  color: rgb(255, 200, 60);
  font-weight: 1900;
}

@media screen and (min-width:1100px) { 
  #history_pic {
    max-width: 45%;
    width: 90vw;
  }
}
@media screen and (max-width:1099px) {
  #history_pic {
    width: 90vw;
  }
}

.gallery_collage {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery_collage > img {
  width: 30%;
  height: auto;
  margin: 10px
}

.gallery_collage > img:nth-of-type(1) {
  border-radius: 50% 20% 30% 40% / 50% 60% 70% 60%;

}
.gallery_collage > img:nth-of-type(2) {
  border-radius: 50% 20% 40% 30% / 30% 50% 40% 70%;
}
.gallery_collage > img:nth-of-type(3) {
  border-radius: 50% 40% 30% 70% / 40% 70% 60% 50% ;
}

.fancy_button {
  align-self: center;
  width: 40%;
  min-width: 230px;
  height: 50px;
  margin: 5%;
  background: hsl(57deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  outline-offset: 4px;
}
.fancy_button > span {
  display: block;
  padding: 15px 42px;
  border-radius: 12px;
  background: hsl(61deg 100% 47%);
  font-family: var(--font-accent);
  font-size: var(--font-size-standard);
  font-weight: 900;
  color:#000;
  transform: translateY(-18px);
}
.fancy_button:hover span {
  transform: translateY(-16px);
}
.fancy_button:active span {
  transform: translateY(-11px);
}

.profile_card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 10px;
  margin: 20px;
  font-size: var(--font-size-small);
  background-color: var(--clr-primary-a);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 18px var(--clr-primary-a);
  -webkit-box-shadow: 4px 4px 18px var(--clr-primary-a);
  box-shadow: 4px 4px 18px var(--clr-primary-a);
}

.profile_card > span {
  padding: 5%;
}

.profile_card > span > h2 {
  text-decoration: underline;
  padding-bottom: 10px;
}

.profile_card > img {
  height: auto;
  margin: 3%;
}

@media screen and (min-width:1100px) { 
  
  .profile_card {
    flex-direction: row;
  }

  .profile_card > img {
    max-width: 320px;
    order: -1;
    flex-direction: column;
  }

  .profile_card > p {
    flex-direction: column;
  }

}

@media screen and (max-width:1099px) { 

  .profile_card > img {
    max-width: 500px;
  }

}

.pdf {
  width: 85vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 1;
}

.width_pdf {
  max-width: 900px;
  height: 60vh;
  max-height: 700px;
}

.height_pdf {
  max-width: 800px;
  height: 85vh;
  max-height: 1000px;
}

footer {
  background-image: url(assets/common/footer.png);
  background-repeat: repeat-x;
  color: white;
  font-weight: 200;
  font-size: var(--font-size-small);
  line-height: 1.1;
  margin: 0;
}

#footer_cards_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  background-color: var(--clr-footer-a);
}

@media screen and (min-width:1300px) {

  .footer_card_large {
    width: 500px;
  }

}

@media screen and (max-width:1299px) and (min-width:435px) { 

  .footer_card_large {
    width: 500px;
    order: 1;
  }

}

@media screen and (max-width:434px) {   
  
  footer {
    font-size: 1.1rem;
  }

  .footer_card_large {
    order: 1;
  }

}

.footer_card_standard {
  width: 300px;
  padding: 15px 25px;
}

.footer_card_standard,
.footer_card_large {
  height: 350px;
  margin: 30px;
  border: solid;
  border-color: var(--clr-footer-font);
}

.footer_car_large > h4,
.footer_card_standard > h4 {
  color: var(--clr-footer-font);
  text-decoration: underline;
}

#testimony_slideshow,
#testimony_slideshow_caption {
  animation: footer_fadeOutthenIn 8s linear forwards infinite;
  animation-delay: 4s;
}

@keyframes footer_fadeOutthenIn {
  from { opacity: 1; }
  45% { opacity: 80%;}
  50% { opacity: 0%; }
  55% { opacity: 80%;}
  to { opacity: 1; }
}


#footer_sitemap > div > h4 {
  margin: 0;
  padding: 10px;
  text-decoration: underline;
}

#footer_sitemap > div > a,
#footer_sitemap > div > p > a {
  color: #fff;
  text-decoration: none;
}

#footer_sitemap > div > a:hover,
#footer_sitemap > div > p > a:hover {
  color: var(--clr-footer-font);
}

#footer_sitemap > div > a:active,
#footer_sitemap > div > p > a:active {
  color: var(--clr-primary-a);
}

#footer_sitemap > div {
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
  color: var(--clr-footer-font);
  background-color: var(--clr-footer-b);
}

.form-background,
.form-popup
 {
  display: none;
  position: fixed;
  width: 120vw;
  height: 120vh;
  top: 0;
  left: 0;
  animation-iteration-count: 1;
}


.form-background {
  background-color: black;
  z-index: 5;
  animation: background_fadeIn ease 2s forwards;
}

@keyframes background_fadeIn {
  from { opacity: 0% }
  to { opacity: 77%; }
}

.form-popup {
  left:50%;
  font-size: 1.25rem;
  padding: 35px 50px;
  width: 70vw;
  max-width: 500px;
  min-width: 300px;
  height: unset;
  max-height: 75vh;
  transform: translate(-50%, 8%);
  border-style: groove;
  border-bottom: double;
  background-color: var(--clr-primary-b);
  z-index: 6;
  overflow-y: scroll;
  animation: form_fadeIn ease 2s forwards;
}

@keyframes form_fadeIn {
  from { opacity: 0% }
  to { opacity: initial; }
}

.form-popup > form {
  display: flex;
  flex-direction: column;
  color: #000;
}

.form-popup > form > span:first-child,
.form_title {
  font-size: var(--font-size-standard);
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: underline;
  padding:5px;
}

.form-popup > form > input,
.form-popup > form > textarea,
.form-popup > form > button,
.form-popup > form > span,
.form-popup > form > a {
  margin: 2px auto;
  padding: 2px;
  max-width:350px;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

.form-popup > form > input,
.form-popup > form > textarea {
  padding: 8px;
  color: #000;
  border-radius: 5px;
}

.form-popup > form > button,
.form-popup > form > #fake_button { /* YOU MAKE THESE FORM WORKS WITH TWO REAL BUTTONS THEN COMPLAIN TO ME */
  color: white;
  letter-spacing: 1px;
  margin-top: 10%;
  max-width: 200px;
  text-align: center;
  align-items: center;
	border: none;
	padding: 2px;
	font: inherit;
	outline: black;
  border-radius: 5px;
}

.form-popup > form > [type~="date"] {
  text-align: left;
  width: fit-content;
  margin: 0 auto 0 12px;
}

.form-popup > form > a > span {
  color: white;
  float: left;
}

.form-popup > form > button:hover,
.form-popup > form > a:hover {
  color: #000 !important; 
  text-decoration: underline;
}

.form-popup > form > button:active,
.form-popup > form > #fake_button:active,
.form-popup > form > a:active {
  color: var(--clr-primary-a) !important;
  background-color: #000;
}

.form-popup > form > button {
  background-color: var(--clr-accept);
}

.form-popup > form > #fake_button {
  background-color: var(--clr-decline);
}

