@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@font-face {
  font-family: pageHeader;
  src:url(assets/PrintClearly_TT.ttf);
}

:root {
  --clr-primary-a: ;
  --clr-primary-b: ;
  --clr-neutral-a: ;
  --clr-neutral-b: ;
  --clr-primary-gradiant: linear-gradient(to right top, #b7b7b7, #c3c3c6, #ccd0d5, #d5dee3, #ddecf0, #d3e9ee, #c9e5ec, #bee2ea, #a1cbdf, #8bb4d4, #7d9bc6, #7981b5);
  --clr-enroll-gradiant: linear-gradient(to top, #a9d16b, #6bd390, #0ad0b9, #00c8da, #26bcec, #1ebff2, #13c2f9, #00c5ff, #00dafa, #00eada, #00f6a3, #8efb5f);
  --clr-accept: #4CAF50;
  --clr-decline: rgb(219, 1, 1);
  --clr-footer: #12a063;

  --font-primary: ;
  --font-accent: "pageHeader", "Raleway", Arial;
  --font-forms: "Raleway", Arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-accent);
  font-weight:800;
  line-height: 1;
}

header,
section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.border-primary {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}



@-moz-document url-prefix() {

  @media screen and (min-width:1251px) { 

  }

  @media screen and (max-width:800px) { 

}
  
}